* {
    font-family: 'Roboto';
}

body {
    margin: 0;
    padding: 0;
    background-image: url("images/patterns.png");
    background-repeat: repeat;
    background-size: 100%;
    background-color: rgb(30, 30, 30);
    background-size: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 5%;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(28px);
    font-size: 16px;

}

.wrapper {
    padding: 20px;
}

.logo img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin-top : 6%;
}

.menu ul li {
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline;
    font-size: 30px;
    color: white;
}

.menu ul a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    width: fit-content;
    margin-top: 50px;
}


.menu-item {
    margin: 5% 0;
}

.menu ul li:hover {
    background-color: #555;
}


.logreglogo {
    position: absolute;
    bottom: 2%;
    left: 35%;
    filter: invert(100%);
}

.logreglogo img {
    max-width: 100%;
}

.table {
    border-collapse: collapse;
    border: 1px solid white;
    width: 100%;
    max-width: fit-content;
    margin: 3% 16% 0;
    font-size: 14px;
    line-height: 1.4;
}

.table thead tr {
    background-color: #f7f7f7;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
    background-color: #e7e7e7;
}

.table tbody tr:hover {
    background-color: #b1b1b1;
}

.table form {
    margin: auto;
}
.table form button{
    color: rgb(236, 69, 69);
    margin-right: 5px;
}

.product-create {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 175px;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 60px 30px;
}

.product-create h1 {
    font-size: 30px;
    padding: 0 0 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.product-create p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
}

.product-create input {
    width: 100%;
    margin-bottom: 20px;
}

.product-create input {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.product-create [type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #000000;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
}

.product-create button {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
}

.product-create [type="submit"]:hover {
    cursor: pointer;
    background-color: #ffc107;
    color: #000;
}