* {
    font-family: 'Roboto';
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background-image: url("images/patterns.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(30, 30, 30);
    background-size: center;
    padding: 0;
    margin: 0;
}

.registration-form {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 60px 30px;
}

.registration-form h1 {
    font-size: 30px;
    padding: 0 0 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.registration-form p {
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.registration-form input {
    width: 100%;
    margin-bottom: 20px;
}

.registration-form input {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.registration-form [type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #000000;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
}

.registration-form button {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
}

.registration-form input[type="submit"]:hover {
    cursor: pointer;
    background-color: #ffc107;
    color: #000;
}

a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(121, 121, 121);
}

.loginbox a:hover {
    color: #ffc107;
}

/*
* Autor: Rrahman Avdiaj
*/